.page-numbers {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.page-numbers__number:first-child {
    margin-left:50px;
}

.page-numbers__number:last-child {
    margin-right:50px;
}

.page-numbers__number {
    margin-left: 40px;
    text-decoration: none;
    border: 2px solid grey;
    padding: 3px;
}