header {
  background-color: #045d8b;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  width: 100%;
}

.home {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: inherit;
  font-size: 35px;
}

.menu {
  margin-left: 15px;
}

.login {
  text-decoration: none;
  color: inherit;
  margin-right: 15px;
}
