@keyframes menuSliding {
    0% { left: -178px;}
    100% { left: -1px;}
}

.hidden {
    display: none;
}

.rectangle1 {
    position: absolute;
    width: 501px;
    height: 60px;
    left: 0px;
    top: 0px;

    background-color: #045D8B;
}

.rectangle1 .AJOU_MEMO {
    position: absolute;
    width: 161px;
    height: 48px;
    left: 183px;
    top: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.rectangle1 .LOG_IN {
    position: absolute;
    width: 45px;
    height: 22px;
    left: 448px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

.rectangle1 .menuIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 3px;
    
    position: absolute;
    width: 24px;
    height: 24px;
    left: 17px;
    top: 6px;

    cursor: pointer;
}

.rectangle1 .menuIcon .menuVector1 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 75%;
    bottom: 25%;

    border: 1px solid #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 0px;
}

.rectangle1 .menuIcon .menuVector2 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 50%;
    bottom: 50%;

    border: 1px solid #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0px;
}

.rectangle1 .menuIcon .menuVector3 {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 25%;
    bottom: 75%;

    border: 1px solid #FFFFFF;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 6px 0px;
}

.tableList {
    position: absolute;
    width: 350px;
    height: 359px;
    left: 75px;
    top: 146px;

    border: 1px solid #045D8B;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.tableList .tableListText {
    border-bottom: 1px solid #045D8B;
}

.tableList .tableListTextClick {
    cursor: pointer;
}

.menuList {
    position: absolute;
    width: 178px;
    height: 564px;
    left: -1px;
    top: 60px;

    background-color: #CFDAFF;

    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-name: menuSliding;
}

.menuList .menuTableList {
    position: absolute;
    width: 129px;
    height: 274px;
    left: 24px;
    top: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.menuList .menuTableList .menuTableListText {
    border-bottom: 1px solid #045D8B;
}

.upload {
    position: absolute;
    width: 55px;
    height: 21px;
    left: 370px;
    top: 101px;

    white-space: nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;

    border: 1px solid #000000;

    color: #000000;

    cursor: pointer;
}

.freeBoard {
    position: absolute;
    width: 86px;
    height: 29px;
    left: 75px;
    top: 101px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.pageButton1 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 69px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton2 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 110px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton3 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 152px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton4 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 193px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton5 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 237px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton6 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 279px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton7 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 320px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton8 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 362px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.pageButton9 {
    position: absolute;
    width: 22px;
    height: 19px;
    left: 405px;
    top: 533px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    border: 1px solid #045D8B;

    cursor: pointer
}

.Rect15 {
    position: absolute;
    width: 391px;
    height: 465px;
    left: 57px;
    top: 94px;

    background-color: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;
    border-radius: 10px;
}

.boardSelect {
    position: absolute;
    width: 334px;
    height: 46px;
    left: 17px;
    top: 36px;

    border: 1px solid #000000;
    box-sizing: border-box;
}

.boardTitle {
    position: absolute;
    width: 334px;
    height: 46px;
    left: 17px;
    top: 92px;

    border: 1px solid #000000;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 46px;

    color: #000000;
}

.boardWrite {
    position: absolute;
    width: 334px;
    height: 284px;
    left: 17px;
    top: 148px;

    border: 1px solid #000000;
    box-sizing: border-box;

    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    vertical-align: text-top;

    color: #000000;
}

.boardUploadButton {
    position: absolute;
    width: 59px;
    height: 27px;
    left: 392px;
    top: 571px;

    border: 1px solid #0E76A3;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    text-align: center;

    cursor: pointer
}

.loginText {
    position: absolute;
    width: 331px;
    height: 83px;
    left: 87px;
    top: 152px;

    background-color: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 83px;
    text-align: center;

    color: #000000;
}

.signIn {
    position: absolute;
    width: 158px;
    height: 47px;
    left: 88px;
    top: 258px;

    background-color: #045D8B;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

.signInText {
    position: absolute;
    width: 331px;
    height: 83px;
    left: 87px;
    top: 152px;

    background-color: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 83px;
    text-align: center;

    color: #000000;
}

.loginButton {
    position: absolute;
    width: 158px;
    height: 47px;
    left: 260px;
    top: 258px;

    background-color: #045D8B;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

.signInButton {
    position: absolute;
    width: 158px;
    height: 47px;
    left: 260px;
    top: 258px;

    background-color: #045D8B;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

.goOut {
    position: absolute;
    width: 158px;
    height: 47px;
    left: 88px;
    top: 258px;

    background-color: #045D8B;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}